<h1><%= @flat.name %></h1>

<h3><%= @flat.address %></h3>
<h4><%= @flat.description %></h4>
<p><%= @flat.price_per_night.to_s + '€' %></p>
<p><%= @flat.number_of_guests.to_s + ' p' %></p>
<img src=<%= @flat.url %>>

